data_extraction/chroma/
data_extraction/chroma_db/
data_extraction/extraction_process/llm_venv/
**/.env
data_extraction/transcripts/
data_extraction/extraction_templates/
data_extraction/vector-database/stopwords/
data_extraction/vector-database/chroma_db
data_extraction/vector-database/purchasing_departement/
