chroma_db
vector-database/database
data_extraction/chroma/
data_extraction/chroma_db/
data_extraction/extraction_process/llm_venv/
**/.env
/venv
data_extraction/transcripts/
data_extraction/extraction_templates/
data_extraction/stopwords/
vector-database/chroma_db
vector-database/purchasing_departement/
